.vscode/
**.egg-info/
**/__pycache__/
submission.csv
logs
secrets
**/*.secret
saves
ppo_drones_tensorboard/
gate_one.zip
gates_crashed.zip
gates_new.zip
gates.zip
reference_path_steps.yaml
reference_trajectory_time.yaml
reference_trajectory_steps.yaml
docker
scripts/imitation_learning.ipynb
*plots
baseline_level2.zip
baseline_level3.zip
getting_started.zip
race_level3.zip
config/dummy_env.yaml
actions_martin.csv
actions.csv
lsy_drone_racing/racewrapper.py
models/baseline.zip
models/race_level3.zip
